<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 225, alt: "Profile Image" %>
  </div>
  
  <div class="col-md-8">
    <p>I have grown up with a love for computers that has carried into my passion for programming. I have a love for creativity and ingenuity that I bring into my work.</p>

    <p>I also have a BA Degree in Psychology. This education and training has taught me to communicate clearly and work well with others. I believe this skill is vital as a web developer to maintain the expectation of no surprises. This allows me to build the best quality product for the customer or employer I am working for.</p>
  </div>
</div>


