<div class="app-card-container">
  <div class="card">
    <h1>Contact me if you would like to work together</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-6">
        
        <!--
        
        <h3>Office Address</h3>
        
        <p>2500 Lake Park Blvd, Salt Lake City, UT 84120</p>
        
        -->
        
        <h3>Phone</h3>
        
        <p><%= number_to_phone "4358300439" %></p>
        
        <h3>Email</h3>
        
        <p>jed.flynn.09@gmail.com</p>
        
        <a href="mailto:jed.flynn.09@gmail.com?subject=Portfolio Contact" "email me" class="btn btn-primary">Email me</a>
      </div>
      
      <!-- Google Map for office location
      
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12096.661465263229!2d-111.990733!3d40.714376!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2b5aae119bdf0956!2sDiscover+Financial+Services!5e0!3m2!1sen!2sus!4v1515300461842" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      
      -->
      
    </div>
  </div>
</div>