<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">I strive to deliver the best quality in everything I build by focusing on detail, working hard, and communicating clearly.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>